// USAGE:
// Fluid Type Logic
// 14px - minimum size at the smallest viewport width of 300px
// 26px - maximum size at the largest viewport width of 1600px
// font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

// This works ONLY with Pixels:
// font-size | line-height | letter-spacing
@mixin font-size($size: true, $lh: false, $ls: false) {
  @if $size {
    font-size: $size; // TODO: Remove after we are done with the typography
    font-size: calcRem($size);
  }

  @if $lh {
    line-height: $lh; // TODO: Remove after we are done with the typography
    line-height: calcRem($lh);
  }

  @if $ls {
    letter-spacing: $ls; // TODO: Remove after we are done with the typography
    letter-spacing: calcRem($ls);
  }
}
